* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-boolean {
    display: flex;
    background-color: orange;
    justify-content: 
}

#table-cards {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.card {
    flex-direction: column;
    width: 30%;
    min-width: 200px;
    border: 1% solid #eaeaeada;
    margin-top: 10px;
}

.pricecut {
    color: red;
}

.img-card {
    width: 100%;
    object-fit: contain;
}

.end {
    background-color: black;
}

.left-end {
    color: white;
    display: flex;
    flex-direction: column;
}